aiogram
aiohttp
fastapi~=0.115.6
loguru~=0.7.2
lxml~=5.2.2
pydantic~=2.8.2
pydantic-settings~=2.3.4
APScheduler~=3.10.4
cffi
uvicorn~=0.30.1
requests~=2.32.0
anyio~=4.3.0
celery~=5.4.0
redis~=5.2.1
urllib3~=1.26.20
DrissionPage~=4.1.0.18
sqlalchemy