<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>消息管理</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="/browser">Browser</a></li>
            <li><a href="/message">Message</a></li>
        </ul>
    </div>
    <div class="main">
        <div class="search">
            <label for="status">状态:</label>
            <select id="status">
                <option value="0">All</option>
                <option value="1">Pending</option>
                <option value="2">Running</option>
                <option value="3">Error</option>
                <option value="4">Success</option>
            </select>
            <button onclick="fetchMessages(0)">查询</button>
        </div>
        <div id="message-list" class="message-list"></div>
        <div id="message-total" class="pagination"></div>
        <div id="pagination" class="pagination"></div>
    </div>
</div>

<script>
    const pageSize = 4;
    let currentPage = 0;

    const statusMap = {
        1:'Pending',
        2:'Running',
        3:'Error',
        4:'Success',
    };

    async function fetchMessages(page) {
        currentPage = page;
        const status = document.getElementById("status").value;
        const res = await fetch(`/get_msg_page?page=${page}&size=${pageSize}&status=${status}`);
        const json = await res.json();

        const list = document.getElementById("message-list");
        list.innerHTML = "";
        json.data.messages.forEach(msg => {
            const div = document.createElement("div");
            div.classList.add("msg-box");
            const statusStr = statusMap[msg.status] ?? msg.status;
            div.innerHTML = `
                <p><strong>Session:</strong> ${msg.session_id}</p>
                <p><strong>Phone:</strong> ${msg.phone_number}</p>
                <p><strong>Msg:</strong> ${msg.msg}</p>
                <p><strong>Status:</strong> ${statusStr}</p>
                <p><strong>Created At:</strong> ${msg.created_at}</p>
            `;
            list.appendChild(div);
        });
        const totalDiv = document.getElementById("message-total");
        totalDiv.innerHTML = `总数:${json.data.count}`;
        const totalPages = Math.ceil(json.data.count / json.data.size);
        const pagination = document.getElementById("pagination");
        pagination.innerHTML = "";
        for (let i = 0; i < totalPages; i++) {
            const btn = document.createElement("button");
            btn.textContent = i + 1;
            btn.disabled = i === page;
            btn.onclick = () => fetchMessages(i);
            pagination.appendChild(btn);
        }
    }

    // 初始化加载
    window.onload = () => {
        fetchMessages(0);
    };
</script>
</body>
</html>
